body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Prompt', 'Roboto', sans-serif;
    color: black;
    background: linear-gradient(#A9CFD2, #D8F0F5) no-repeat;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*container
=========================*/

.container {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    /*height: 100%;
    width: 100%;
    width: 1120px;
    margin-right: 15px;
    margin-left: 15px;
    position:relative;*/
}

/*header
=========================*/

.header {

}

.logo {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 30px;
    font-family: 'roboto', sans-serif;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #B6C1C2;
}

/*.btn_nav {
    display: inline-block;
}*/

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-nav {
    width: 32px;
    height: 32px;
}

.burger-nav {
    display: none;
}

.icon {
    padding-left: 30px;

}

::-webkit-input-placeholder {
    text-align: right;
}



.search {
    border-radius: 15px;
    padding: 5px 0;
    outline: none;
    margin: 0 0 15px 15px;
    border: white;
}

/*nav
=========================*/

.navigation {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;

}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.list-nav {
    /*margin-right: 50px;*/
    /*width: 33.33333%;*/
    flex: 0 0 33.33333%;
    background:#C1DEE4;
    border-radius: 5px;
    text-align: center;
}

.list-nav:hover {
    background:#89a0a5;
}

.list-a {
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: 'prompt', sans-serif;
    text-decoration:none;
    color:#000000;
}





/*main
=========================*/

/*.container-staff {
    max-width: 100%;
    width: 1120px;
    margin: 0 auto;
    position: relative;
    display: flex;
}*/


/*.container-main {
    display: flex;
    flex-direction: row;
}*/



/*.main_img {
    margin: 93px 0 0 4px;

}*/

.img_btn {
    width: 50%;
}


.staff {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
    /*width:850px;*/

}

.staff__item {
    /*border: 1px black solid;*/
    flex: 0 0 33.33333%;
    /*width: 33.33333%;*/
    padding: 0 10px;
    margin: 1px 0;
    text-align: center;
    margin-bottom: 10px;
}

.staff__icon {
    margin-bottom: -20px;
    width: 145px;
    height: 155px;
}

.sale {
    margin-bottom: 10px;
}

.staff__title {
    margin-bottom: -5px;

    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.btn {
    background-color: #BCD5DA;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin-right: 10px;
}

.btn:hover {
    background:#89a0a5;
}

.img_btn {
    padding: 0;
}

/*footer*/

.foot-inner {
    margin-top: 100px;
    border-top: 1px solid #B6C1C2;
}

.call {
    font-family: 'prompt', sans-serif;
    color: #96B5BB;
    letter-spacing: 6px;
}

.social {
    margin-right: 32px;
}

/*modal*/

.modal {
    position: relative;
    margin:auto;
    top: -750px;
    visibility: hidden;
    width: 450px;
    height: 400px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    background-color: #C1DEE4;
    color: #242424;
    padding: 2rem;
    transition: opacity 0.25s;
    border-radius: 10px;

}

.bascket-name {

    margin: 0;
}

.list {
    overflow-y: auto;
    height: 250px;
}

.btn-buy,
.btn-drop,
.close-cart {
    background-color: #a1c6ce;
    border-radius: 5px;

}

.btn-buy:hover,
.btn-drop:hover,
.close-cart:hover {
    background-color: #839ea3;
    cursor: pointer;
}



.modal-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*.modal-bg {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0);
}*/

/*.modal_bg.show {
    visibility: visible;
    opacity: 1;
    transition:  opacity 0.25s;
}*/


.modal.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

/*preloader===================
=============================*/

.windows8.show {
    visibility: visible;
}

.windows8 {
    position: relative;
    width: 180px;
    height:180px;
    margin:auto;
    top: -1050px;
    visibility: hidden;
}

.windows8 .wBall {
    position: absolute;
    width: 171px;
    height: 171px;
    opacity: 0;
    transform: rotate(225deg);
    animation: orbit 3.3225s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 23px;
    height: 23px;
    background: rgba(0,0,0,0.76);
    left:0px;
    top:0px;
    border-radius: 23px;
}

.windows8 #wBall_1 {
    animation-delay: 0.726s;
}

.windows8 #wBall_2 {
    animation-delay: 0.143s;
}

.windows8 #wBall_3 {
    animation-delay: 0.2865s;
}

.windows8 #wBall_4 {
    animation-delay: 0.4295s;
}

.windows8 #wBall_5 {
    animation-delay: 0.583s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
    opacity: 0;
        transform:rotate(900deg);
    }

    100% {
    opacity: 0;
        transform: rotate(900deg);
    }
}

.modal-iphone {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C1DEE4;
    position: relative;
    width: 375px;
    height:669px;
    margin:auto;
    top: -2468px;
    visibility: hidden;
}

.modal-iphone.show {
    visibility: visible;
}

.item-text {
    margin-top: 10px;
    background-color: #b9d7dd;
}



.item-text:active {
    background-color: #839ea3;
}

.text-item {
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'prompt', sans-serif;
    color:#000000;
}

/*media qeries*/

@media (max-width: 768px) {
    body {
        height: 100vh;
    }

    .staff__item {
    flex: 0 0 50%;
}


@media (max-width: 450px) {

    body {
        overflow-x: hidden;
    }

    .staff__item {
    flex: 0 0 100%;
    }

    .header_inner {
    border-bottom: 0px;
    }

    .navigation {
    visibility: hidden;
    }
    .logo {
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 15px;
    }

    .staff {
    margin: -50px;
    }

    .img-nav {
    width: 16px;
    height: 16px;
}

    .search {
    display: none;
}

    .nav-header {
    display: flex;
    justify-content: flex-start;
}

    .windows8 {
    top: -2000px;

}
    .modal {
    top: -1750px;
    height: 350px;
    width: 370px;
}
    .list {
    overflow-y: auto;
    height: 200px;
}
    .body-counter {
    font-size: 10px;
}
    .burger-nav {
    display: block;
}
}










